<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>

	<Appenders>
		<RollingFile name="file-log" fileName="${log-path}/main.log"
			filePattern="${log-path}/main-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%p] %d [%t] %x %c %M - %m%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%p] %d [%t] %x %c %M - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info" additivity="false">
			<appender-ref ref="console" level="info"/>
            <appender-ref ref="file-log" level="debug" />
		</Root>
	</Loggers>
</Configuration>
